@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "1bit-ui";

.App {
  text-align: center;
  overflow: hidden;
  font-family: 'Press Start 2P', system-ui;
  color: var(--bit-color0);
  background: 
  repeating-linear-gradient(
    45deg, 
    var(--bit-color0) 0, 
    var(--bit-color0) 32px, 
    var(--bit-color1) 32px, 
    var(--bit-color1) 64px
  );
  height: 100vh;
  width: 100%;
}

.card-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding-top: 10em;

  .swipe {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 18.75em;
    height: 30.313em;
    border: var(--bit-border-width) solid var(--bit-color0);
    background: var(--bit-color1);
    border-radius: var(--bit-border-radius);
  }
  .card {
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0.2em;
  }
}

.bit-card {
  margin-top: 2em;
}

.form-container {
  .label-col {
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
  }
}

/* Make it optical center rather than actual center */
span.spacer:first-child {
  flex: 1 1 48% ;
}
span.spacer:last-child {
  flex: 1 1 52% ;
}

@for $i from 0 through 10 {
  .rotate-#{$i} {
    rotate: -5 + $i + deg;
  }
}
